
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #283E4A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.radius-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.radius-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.link-icon {
  padding: 4px;
  cursor: pointer;
  margin: 0 3px;
}

.tt-menu {
  width: 100%;
  background: white;
  border: 1px solid #80808078;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tt-suggestion {
  padding: 8px;
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tt-suggestion:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.badge {
  font-weight: 100;
}

.list-tags .badge i {
  cursor: pointer;
}

.label-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  line-height: 25px;
  font-size: 1.12rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.label-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.question p {
  font-size: 1.12rem;
}

.exam-card .progress {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0;
}

.exam-card.card, .subject-card.card {
  padding: 0;
  margin: 0 auto;
  max-width: 30% !important;
  flex: 0 0 30%;
}

.exam-card .card-subtitle, .subject-card .card-subtitle {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #616161;
  font-size: 0.875rem;
}

.exam-card .options {
  margin-top: 60px;
}

.exam-card .options .item {
  padding: 8px;
  margin: 0 5px;
}

.subject-card .card-title {
  font-weight: bold;
}

.subject-card .card-body p {
  margin-top: 20px;
}

.form-control:focus {
  border: 2px solid #a1cbef;
  box-shadow: none;
}

.search-input .btn {
  font-size: 1.5rem;
  position: absolute;
  background: transparent;
  color: #6c757d;
  border: none;
  right: 1px;
  top: 0px;
  padding: 6px;
}

.search-input button:hover {
  background: none;
  border: none;
}

thead {
  background: $blue;
  color: white;
  letter-spacing: 0.1rem;
}

.table thead th {
  font-family: 'open-sans', sans-serif;
}

.table thead th:last-child {
  text-align: center;
}

.modal .form-group {
  padding-left: 0 !important;
}

.form-group .badge {
  margin-top: 40px !important;
}

.search-input input {
  width: 100%;
  padding: 0.375rem 2.4rem 0.375rem 0.75rem;
}

.twitter-typeahead {
  width: 100%;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'open-sans', sans-serif;
}

.navbar-brand i {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'open-sans', sans-serif;
  margin: 20px 0 40px;
}

.box-footer {
  padding: 0;
}

.box-footer {
  font-family: 'open-sans', sans-serif;
  font-size: .95rem;
  margin-top: 30px;
}

.box-footer span {
  font-weight: bold;
}

.empty-table td {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background: #e9ecef;
}

.search-input .submit-button {
  z-index: 3;
}

td h2, td li, td ul, td p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
}

.container.editor {
  padding: 0;
}

.row .form-group:last-child {
  padding-right: 0;
}

.taggable .input-group-btn a {
  position: absolute;
  right: 0px;
}

.taggable {
  padding: 0 !important;
}

.taggable #tag-value {
  padding-right: 20%;
}

@media (min-width: 800px) {
  .table-options > div {
    padding: 0;
  }
}

@media(max-width: 799px) {
  .center-mobile {
    justify-content: center !important;
  }
  .full-width-mobile {
    width: 100%;
  }
  .table {
    padding: 0 1rem;
  }
}