<template>
    <div :class="'exam-card card col-md-' + size">
        <div class="card-body text-center">
            <h5 class="card-title">CESPE - 2018 - Polícia Federal - Escrivão</h5>
            <h6 class="card-subtitle">2 semanas</h6>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <div class="options">
                <span class="item">
                    <i class="fas fa-book"></i> 12
                </span>
                <span class="item">
                    <i class="fas fa-pencil-alt"></i> 8
                </span>
                <span class="item">
                    <i class="fas fa-check-square"></i> 7
                </span>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="card-link">Continuar</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['size']
    }
</script>
