<template>
    <div class="container">
        <div :class="'row justify-content-center p-' + size"></div>
    </div>
</template>

<script>
    export default {
        props: ['size']
    }
</script>
