<template>
    <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div :class="'modal-dialog modal-' + size" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <alert></alert>
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times-circle"></i> Fechar
                    </button>
                    <button id="save" type="button" class="btn btn-success">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Alert from './Alert'

    export default {
        props: ['size', 'title', 'editurl', 'secondtitle'],
        components: {
            Alert,
        },
        mounted() {
            window.addEventListener('load', () => {
                let url = this.editurl;

                function replaceEditor(data) {
                    try {
                        if(Object.keys(CKEDITOR.instances).length > 0) {
                            $.each(CKEDITOR.instances, function (key, value){
                                if(!data) {
                                    CKEDITOR.instances[key].updateElement();
                                } else {
                                    CKEDITOR.instances[key].setData(data)
                                }
                            })

                        }
                    } catch (e) {
                        console.log('-- página sem CKEDITOR --')
                    }
                }

                $(".alert").hide();
                let titleEdit = this.title;
                let titleAdd  = this.secondtitle;
                $("button#edit").on('click', function(){
                    let id = $(this).attr('data-id');
                    $("form input[name='_method']").val('put');
                    $(".modal-title").text(titleEdit);
                    $("button#save").attr('data-id', id);
                    $.ajax({
                        url: url + '/' + id,
                        success: function(rsp) {
                            $.each(rsp[0], function(idx, val){
                                let id = "#" + idx;
                                $(id).val(val);
                                if(idx === 'status' || idx === 'applicator_id') {
                                     id = id + ' option[value="' + val + '"]';
                                     $(id).prop('selected', true);
                                } if(idx === 'description' || idx === 'content' || idx === 'question') {
                                    replaceEditor(val);
                                } if($.isPlainObject(val) || Array.isArray(val)) {

                                    console.log('-'+idx);
                                    if(idx === 'occupation') {
                                        id = id + '_id option[value="' + val.id + '"]';
                                        $(id).prop('selected', true);
                                        console.log(val)
                                    } if(idx === 'subjects') {
                                        $.each(val, function(key, value){
                                            let tag = '<span class="badge badge-info text-white mx-1" id="btn-exclude">' + value.subject +' <i class="fas fa-times"></i></span>';
                                            $(".list-tags").append(tag).append('<input name="subjects[]" value="'+value.subject+'" hidden>');
                                        })
                                        $('span#btn-exclude i').on('click', function(){
                                            let text = $(this).parent().text();
                                            text = text.substring(0, text.lastIndexOf(" "));
                                            let sel = "input[value='"+ text +"']";
                                            $(sel).remove();
                                            $("span#btn-exclude").filter(function() {
                                                return $(this).text() === text.concat(" ");
                                            }).remove();
                                        })
                                    }
                                }
                            })
                        }
                    })
                });

                $("button#close-modal").on('click', function(){
                    $(".list-tags input").remove();
                    $(".list-tags span").remove();
                })

                $("button#add").on('click', function(){
                    $(".modal-title").text(titleAdd);
                    $(".modal form div input").val('');
                    $(".modal select option[value='0']").prop('selected', true);
                    $("button#save").attr('data-id', 0);
                    $(".list-tags input").remove();
                    $(".list-tags span").remove();
                    replaceEditor('Adicione texto html aqui ...');
                    $("form input[name='_method']").val('post');
                });

                $("button#save").on("click", function(){
                    let id = $(this).attr('data-id');
                    let currentUrl = url;
                    if(id == 0) {
                        currentUrl = url;
                    } else {
                        currentUrl = url + '/' + id;
                    }

                    replaceEditor();

                    let data = $("#formDefault").serialize();

                    // console.log(data);

                    $.ajax({
                        url: currentUrl,
                        type: 'post',
                        data: data,
                        dataType: 'json',
                        success: function(rsp) {
                            if(rsp.status) {
                                $(".modal .alert").append(rsp.msg).addClass('alert-success').show()
                                $("button#close-modal").click(function(){
                                    location.reload();
                                })
                            } else {
                                $(".modal .alert").append(rsp.msg).addClass('alert-danger').show()
                            }
                        },
                        error: function() {
                            console.log('Desculpa, houve um problema no servidor!');
                        }
                    })
                });
            });
        }
    }
</script>
