<template>
    <div class="modal fade" id="deleteDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div :class="'modal-dialog modal-' + size" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <alert></alert>
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times-circle"></i> Fechar
                    </button>
                    <button id="deleteData" type="button" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Alert from './Alert'

    export default {
        props: ['size', 'title', 'editurl'],
        components: {
            Alert,
        },
        mounted() {
            window.addEventListener('load', () => {
                let url = this.editurl;

                $(".alert").hide();

                $("button#delete").on('click', function(){
                    let id = $(this).attr('data-id');
                    $("button#deleteData").attr('data-id', id);
                });

                $("button#deleteData").on("click", function(){
                    let id = $(this).attr('data-id');
                    let currentUrl = url + '/' + id;

                    let data = $("#defaultDelete").serialize();
                    $.ajax({
                        url: currentUrl,
                        type: 'post',
                        data: data,
                        dataType: 'json',
                        success: function(rsp) {
                            if(rsp.status) {
                                $(".modal .alert").append(rsp.msg).addClass('alert-success').show()
                                setTimeout(function(){
                                    $("button#close-modal").click()
                                }, 2000)
                                $("button#close-modal").click(function(){
                                    location.reload();
                                })
                            } else {
                                $(".modal .alert").append(rsp.msg).addClass('alert-danger').show()
                            }
                        },
                        error: function() {
                            alert('Desculpa, houve um problema no servidor!');
                        }
                    })
                });
            });
        }
    }
</script>
