<template>
    <div class="container question">
        <div class="row">
           <p><small class="text-muted">(CESPE - 2018 - Polícia Federal - Agente)</small> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
            <div class="form-group">
                <select id="questionOption" class="form-control">
                    <option value="ce">Certo ou Errado</option>
                    <option value="al" selected>Alternativas</option>
                </select>
            </div>
            <gap size="1"></gap>
            <div id="al" class="alternatives">
                <label class="label-radio">One
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="label-radio">Two
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="label-radio">Three
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="label-radio">Four
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="ce" class="alternatives" style="display: none">
                <label class="label-radio">Certo
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="label-radio">Errado
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            $("#questionOption").on('change', function(){
                let option = $(this).val();
                console.log(option);
                if(option === 'ce') {
                    $("#al").hide();
                    $("#ce").show();
                } else {
                    $("#ce").hide();
                    $("#al").show();
                }
            });
        }
    }
</script>
