<template>
    <div :class="'subject-card card col-md-' + size" style="padding: 0">
        <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F49372161%2F180689014888%2F1%2Foriginal.jpg?h=230&w=460&auto=compress&rect=0%2C115%2C464%2C232&s=68ed40bd0f2104ccfae226b359b7048e" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Título da Matéria</h5>
            <h6 class="card-subtitle">Primeiro pai(Quando houver)</h6>
            <div class="options">
                <span class="item">
                    <i class="fas fa-comments"></i> 12
                </span>
                <span class="item">
                    <i class="fas fa-sticky-note"></i> 8
                </span>
            </div>
            <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="card-link">Editar</a>
            <a href="#" class="card-link">Leia mais</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['size']
    }
</script>
