<template>
    <div :id="name" class="table table-responsive table-hover">
        <table class="table">
            <thead>
            <tr>
                <th v-for="(content) in titles">{{ content }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="list" v-for="(items) in list">
                <td v-for="item in items" v-html="$options.filters.format(item)"></td>
                <td class="text-center">
                    <button id="edit" class="btn btn-sm btn-success" :data-id="items.id" data-toggle="modal" data-target="#modalDefault">
                       <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button id="delete" class="btn btn-sm btn-danger" :data-id="items.id" data-toggle="modal" data-target="#deleteDefault">
                       <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr v-if="!list" class="empty-table">
                <td :colspan="titles.length">
                   Não foram encontrados registros</td>
            </tr>
            </tbody>
        </table>
        <div class="box-footer clearfix col-12" v-if="list">
            <div class="float-left my-2">
                <div class="pull-left">
                    <span>Total de registros:</span> {{ total }}
                </div>
            </div>
            <div class="float-right my-2">
                <div class="pull-right">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import Modal from './Modal'

    export default {
        props: ['titles', 'content', 'name', 'total'],
        components: {
            // Modal,
        },
        filters: {
            format: function(value) {
                if($.isPlainObject(value)) {
                    return value.name;
                } else {
                    if(value) {
                        if(value.length >= 60) {
                            return value.substr(0, 60).concat('...');
                        }
                    }
                    return value;
                }
            }
        },
        computed: {
            list: function() {
                if((typeof this.content !== 'undefined') && (this.content.data).length > 0) {
                    return this.content.data;
                } else {
                    return false;
                }
            }

        },
        mounted() {
            window.addEventListener('load', () => {
                $("td").not("td:first").filter(function() {
                    return $(this).text() === '1';
                }).html('<span class="badge badge-success">Ativado</span>')

                $("td").not("td:first").filter(function() {
                    return $(this).text() === '0';
                }).html('<span class="badge badge-secondary">Desativado</span>')
            })
        }
    }
</script>
