<template>
    <div class="container editor">
        <textarea :id=" name ? name : 'editor-text'" :name=" name ? name : 'editor-text'">
            {{ content }}
        </textarea>
    </div>
</template>

<script>
    export default {
        props: ['name', 'content', 'content'],
        mounted() {
            let editorScript = document.createElement('script');
            editorScript.setAttribute('src', '/vendor/unisharp/laravel-ckeditor/ckeditor.js');
            document.head.appendChild(editorScript);
            let options = {
                filebrowserImageBrowseUrl: '/laravel-filemanager?type=Images',
                filebrowserImageUploadUrl: '/laravel-filemanager/upload?type=Images&_token=',
                filebrowserBrowseUrl: '/laravel-filemanager?type=Files',
                filebrowserUploadUrl: '/laravel-filemanager/upload?type=Files&_token=',
            };
            // load code after load page
            let name = this.name;
            window.addEventListener('load', () => {
                name ? name : name = 'editor-text';
                CKEDITOR.replace( name, options)
            })
        }
    }
</script>
