<template>
    <div :class="'form-group col col-md-' + size ">
        <label :for="name">{{ label }}</label>
        <input :type="type" class="form-control" :id="name" :name="name">
    </div>
</template>

<script>
    export default {
        props: ['size', 'name', 'type', 'label']
    }
</script>
