<template>
    <div class="container">
        <div class="row justify-content-center">
            <div id="text-note" class="input-group">
                <textarea id="content-note" row="3" class="form-control" type="text"></textarea>
                <span class="input-group-btn">
                    <a id="add-note" class="btn btn-success radius-left text-white">
                        <i class="fas fa-plus-circle"></i> Adicionar
                    </a>
                    <br>
                    <a id="clear-note" class="small" style="cursor: pointer">
                        <i class="far fa-times-circle"></i> Limpar
                    </a>
                </span>
            </div>
        </div>
        <div class="listNotes row mt-2">
            <div class="col-md-12" style="padding: 0">
                <blockquote id="1" class="blockquote mb-0 card-body" style="background-color: #fff475">
                    <div class="blockquote-menu float-right">
                        <i class="fas fa-pencil-alt link-icon" id="edit-note" data-id="1"></i>
                        <i class="far fa-trash-alt link-icon" id="delete-note" data-id="1"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                           23 de Janeiro de 2019
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            window.addEventListener('load', () => {
                $("#add-note").click(function(){

                });

                $("#clear-note").click(function(){
                    $("#content-note").val('').removeAttr('data-id')
                })

                $("#edit-note").click(function(){
                    let el = $(this).attr('data-id');
                    let text = $("blockquote#1 p").text();
                    $("#content-note").val(text).attr('data-id', el);
                })

                $("#delete-note").click(function(){
                    let id = $(this).attr('data-id');
                    let el = "blockquote#" + id;
                    $(el).slideUp('normal', function(){
                        $(this).remove()
                    });
                })
            })
        }
    }
</script>
