<template>
    <div class="search-input">
        <div class="mb-3">
            <input type="text" name="busca" class="form-control typeahead" :placeholder="'Buscar ' + type" :aria-label="type" aria-describedby="basic-search" :value=" term ? term : ''">
            <div>
                <button type="submit" class="input-group-text btn submit-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['type', 'list', 'term'],
        mounted() {
            let editorScript = document.createElement('script');
            editorScript.setAttribute('src', '/js/typeahead.bundle.js');
            document.head.appendChild(editorScript);

            // load code after load page
            window.addEventListener('load', () => {

                let substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                        let matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        let substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                                matches.push(str);
                            }
                        });

                        cb(matches);
                    };
                };

                let data = [];
                $.each(this.list, function(idx, val){
                    $.each(val, function(key, value){
                        console.log(value);
                        data.push($(value).text())
                    })
                });

                $('.search-input input').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 2
                    },
                    {
                        name: 'data',
                        source: substringMatcher(data)
                    });
            })
        }
    }
</script>
