<template>
    <div :class="'form-group col col-md-' + size ">
        <label :for="name">{{ label }}</label>
        <select class="form-control" :id="name" :name="name">
            <option v-for="(item) in options" :value="item.value">{{ item.name }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: ['size', 'name', 'label', 'items'],
        computed: {
            options: function() {
                if((this.items).length > 0) {
                    return JSON.parse(this.items);
                } else {
                    return false;
                }
            }
        }
    }
</script>
