<template>
    <div :class="'taggable col-md-' + size">
        <label>Matérias</label>
        <div id="tagInput" class="input-group">
            <input id="tag-value" class="typeahead form-control col-md-12" type="text" :placeholder="'Adicionar ' + name">
            <span class="input-group-btn">
                <a id="saveNote" class="btn btn-success radius-left text-white">
                    <i class="fas fa-plus-circle"></i> Adicionar
                </a>
            </span>
        </div>
        <div class="list-tags mt-2">
            <i :class="icon"></i> {{ name }}:
            <span class="badge badge-info text-white mx-1" id="0" hidden><i class="fas fa-times"></i></span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['size', 'list', 'name', 'icon'],
        mounted() {
            let editorScript = document.createElement('script');
            editorScript.setAttribute('src', '/js/typeahead.bundle.js');
            document.head.appendChild(editorScript);

            // load code after load page
            window.addEventListener('load', () => {

                let substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                        let matches, substringRegex;

                        // an array that will be populated with substring matches
                        matches = [];

                        // regex used to determine if a string contains the substring `q`
                        let substrRegex = new RegExp(q, 'i');

                        // iterate through the pool of strings and for any string that
                        // contains the substring `q`, add it to the `matches` array
                        $.each(strs, function(i, str) {
                            if (substrRegex.test(str)) {
                                matches.push(str);
                            }
                        });

                        cb(matches);
                    };
                };

                let data = [];
                $.each(this.list, function(idx, val){
                    $.each(val, function(key, value){
                        data.push(value)
                    })
                });

                $('#tagInput .typeahead').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'data',
                        source: substringMatcher(data)
                    });

                $('#saveNote').on('click', function () {
                    let subject = $("#tag-value").val();
                    let tag = '<span class="badge badge-info text-white mx-1" id="btn-exclude">' + subject +' <i class="fas fa-times"></i></span>';

                    $(".list-tags").append(tag).append('<input name="subjects[]" value="'+subject+'" hidden>');

                    $('span#btn-exclude i').on('click', function(){
                        let text = $(this).parent().text();
                            text = text.substring(0, text.lastIndexOf(" "));
                        let sel = "input[value='"+ text +"']";
                        $(sel).remove();
                        $("span#btn-exclude").filter(function() {
                            return $(this).text() === text.concat(" ");
                        }).remove();
                    })
                });
            })
        }
    }
</script>
