<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="input-group">
                <span class="input-group-prepend">
                    <a id="lfm" data-input="thumbnail" data-preview="holder" class="btn btn-success text-white">
                        <i class="far fa-image"></i> Selecionar
                    </a>
                </span>
                <input id="thumbnail" class="form-control" type="text" name="filepath">
            </div>
            <span id="holder" style="margin-top:15px;max-height:100px;"></span>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let fileScript = document.createElement('script');
            fileScript.setAttribute('src', '/vendor/laravel-filemanager/js/stand-alone-button.js');
            document.head.appendChild(fileScript);
            // load code after load page
            window.addEventListener('load', () => {
                $('#lfm').filemanager('image');
            })
        }
    }
</script>
